---
title: Bookmarks
author: Jonathon
date: 2024-02-25T15:17:00
created: 2024-02-25T15:17:00
---

<p>
    These are the books I'm reading, where in the book I am, and whatever brief thoughts I had when I last put the book down.
    Completed books will stay in "Completed" status until a micro-review is written, at which point they'll move to the <a href="/pages/micro-book-reviews/">micro-review page</a>.
    Abandoned books will be changed to "Abandoned" and eventually pruned.
</p>

<h2>Fiction</h2>
{% set taglist = collections["inProgressFictionBook"] %}
{% for post in taglist | reverse %}
    <div class="space-y-0">
        <span></span>
        <h3>{{ post.data.title }}</h3>
        <p class="font-thin text-sm">Author: {{ post.data.bookAuthor }}</p>
        <p class="font-thin text-sm">Page: {{ post.data.pageNum }}</p>
        <p class="font-thin text-sm">Interest Level: {{ post.data.interest }}</p>
    </div>
    {{ post.content | safe }}
{% endfor %}

<h2>Programming Books</h2>
{% set taglist = collections["inProgressProgrammingBook"] %}
{% for post in taglist | reverse %}
    <div class="space-y-0">
        <span></span>
        <h3>{{ post.data.title }}</h3>
        <p class="font-thin text-sm">Author: {{ post.data.bookAuthor }}</p>
        <p class="font-thin text-sm">Page: {{ post.data.pageNum }}</p>
        <p class="font-thin text-sm">Interest Level: {{ post.data.interest }}</p>
    </div>
    {{ post.content | safe }}
{% endfor %}