---
title: Micro Book Reviews
author: Jonathon
date: 2024-02-25T10:37:00
created: 2024-02-25T10:37:00
---

<h2>Fiction</h2>
{% block content %}
    {% set taglist = collections["completedFictionBook"] %}
    {% for post in taglist | reverse %}
        <div class="space-y-0">
            <span></span>
            <h3>{{ post.data.title }}</h3>
            <p class="font-thin text-sm">Author: {{ post.data.bookAuthor }}</p>
            <p class="font-thin text-sm">Overall Rating: {{ post.data.interest }}</p>
            {{ post.content | safe }}
        </div>
    {% endfor %}
{% endblock %}