---
title: Index
---

{% extends "_includes/default.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
  <article class="prose prose-slate prose-headings:font-thin prose-li:font-light col-span-3 max-w-none p-8">
    <div>
      <h1>Less Present</h1>
      <p>
        There is a note here:
      </p>
      <pre>
        Hi,
        
        This note sits on a desk inside Solitude's study.
        Solitude is a research station 10 km beneath the surface of a small terrestrial planet in orbit around a young hypergiant.
        It exists in a reality you can understand through exploration.
      
        ~Jonathon</pre>
      <p>
        Also on this desk is a small, nondescript notebook labeled "Journal".
      </p>
      <p>
        The desk is large, semi-circular, and positioned in the center of a 12 meter wide, by 5 meter tall cylindrical room bordered in bookshelves.
        Overhead, the ceiling shows a field of stars denser, clearer, and more vibrant than can be seen anywhere on Earth.
        Obscuring the stars is a brilliant volume of rich color, clearly the view from within a nebula.
        There's a set of double-doors directly ahead.
      </p>
      <p>
        <a href="./lp/solitude/apartment/study">Stand up and look around</a>.
      </p>
      {% set maxPosts = 5 %}
      <div>
        <h2>Recent Journal Entries</h2>
        <ul>
          {% set taglist = collections.journal.slice(-maxPosts) %}
          {% for post in taglist | reverse %}
          <li class="space-y-0"><a href="{{ post.url }}">{{ post.data.title }}</a>
            <p>Created: {{ post.data.created | postDate }}</p>
            {% if post.data.created.toString() != post.page.date.toString() %}
              <p>Updated: {{ post.page.date | postDate }}</p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <a href="/tags/journal/">All Journal entries</a>
      </div>
    </div>
  </article>
  {% endblock %}