---
title: Tag Generator
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
{% extends "_includes/default.njk" %}

{% block title %}{{ tag }}{% endblock %}

{% block content %}
  <article class="prose prose-slate prose-headings:font-thin prose-li:font-light">
    <h1 class="capitalize">{{ tag }}</h1>

    <ul>
    {% set taglist = collections[ tag ] %}
    {% for post in taglist | reverse %}
      <li class="space-y-0"><a href="{{ post.url }}">{{ post.data.title }}</a>
        <p>Created: {{ post.data.created | postDate }}</p>
        {% if post.data.created and post.data.created.toString() != post.page.date.toString() %}
          <p>Updated: {{ post.page.date | postDate }}</p>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </article>
{% endblock %}