{% extends "_includes/default.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <article class="prose prose-slate prose-headings:font-thin">
        <div class="space-y-0">
            <span></span>
            <h1>{{ title }}</h1>
        </div>
        {{ content | safe }}
    </article>
{% endblock %}