{% extends "_includes/default.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <article class="prose prose-slate prose-headings:font-thin">
        <div class="space-y-0">
            <span></span>
            <h1>{{ title }}</h1>
            <p class="font-thin text-sm">by {{ author }}</p>
            <p class="font-thin text-sm">authored {{ page.date | postDate }}</p>
            {% if updated %}
                <p class="font-thin text-sm">updated {{ updated | postDate }}</p>
            {% endif %}
        </div>
        {{ content | safe }}
    </article>
{% endblock %}